html
  head
    title Magic Inkle
  body
    h2 Pattern
    div
      code= pattern
    
    svg(width="120px" height="180px")
      each thread in pattern
        polygon(points=thread.points fill=thread.color stroke="black")
        
    svg(width="120px" height="180px")
      polygon(points="2,67 8,61 14,67 14,91 8,97 2,91" fill="Violet" stroke="black")
      polygon(points="14,67 20,61 26,67 26,91 20,97 14,91" fill="Indigo" stroke="black")
      polygon(points="26,67 32,61 38,67 38,91 32,97 26,91" fill="Indigo" stroke="black")
      polygon(points="38,67 44,61 50,67 50,91 44,97 38,91" fill="Violet" stroke="black")
      polygon(points="50,67 56,61 62,67 62,91 56,97 50,91" fill="Indigo" stroke="black")
      polygon(points="62,67 68,61 74,67 74,91 68,97 62,91" fill="Violet" stroke="black")
      polygon(points="74,67 80,61 86,67 86,91 80,97 74,91" fill="Indigo" stroke="black")
      polygon(points="86,67 92,61 98,67 98,91 92,97 86,91" fill="Indigo" stroke="black")
      polygon(points="98,67 104,61 110,67 110,91 104,97 98,91" fill="Violet" stroke="black")
      polygon(points="8,97 14,91 20,97 20,121 14,127 8,121" fill="Indigo" stroke="black")
      polygon(points="20,97 26,91 32,97 32,121 26,127 20,121" fill="White" stroke="black")
      polygon(points="32,97 38,91 44,97 44,121 38,127 32,121" fill="Violet" stroke="black")
      polygon(points="44,97 50,91 56,97 56,121 50,127 44,121" fill="Indigo" stroke="black")
      polygon(points="56,97 62,91 68,97 68,121 62,127 56,121" fill="Indigo" stroke="black")
      polygon(points="68,97 74,91 80,97 80,121 74,127 68,121" fill="Violet" stroke="black")
      polygon(points="80,97 86,91 92,97 92,121 86,127 80,121" fill="White" stroke="black")
      polygon(points="92,97 98,91 104,97 104,121 98,127 92,121" fill="Indigo" stroke="black")
      polygon(points="2,127 8,121 14,127 14,151 8,157 2,151" fill="Violet" stroke="black")
      polygon(points="14,127 20,121 26,127 26,151 20,157 14,151" fill="Indigo" stroke="black")
      polygon(points="26,127 32,121 38,127 38,151 32,157 26,151" fill="Indigo" stroke="black")
      polygon(points="38,127 44,121 50,127 50,151 44,157 38,151" fill="Violet" stroke="black")
      polygon(points="50,127 56,121 62,127 62,151 56,157 50,151" fill="Indigo" stroke="black")
      polygon(points="62,127 68,121 74,127 74,151 68,157 62,151" fill="Violet" stroke="black")
      polygon(points="74,127 80,121 86,127 86,151 80,157 74,151" fill="Indigo" stroke="black")
      polygon(points="86,127 92,121 98,127 98,151 92,157 86,151" fill="Indigo" stroke="black")
      polygon(points="98,127 104,121 110,127 110,151 104,157 98,151" fill="Violet" stroke="black")