html
  head
    title Magic Inkle
  body
    h2 Pattern
    div
      code= pattern
    
    svg(width="120px" height="180px")
      each thread in pattern
        <polygon points="#{thread.points}" fill="#{thread.color}" stroke="black") />